{:deps   {:aliases [:cljs-test]}
 :builds {:node-test {:target     :node-test
                      :output-to  "out/node-tests.js"
                      :ns-regexp  "-test$"
                      :autorun    false
                      :compiler-options
                      {:warnings-as-errors false
                       :infer-externs      :auto}}}}
